html, body{
    margin: 0;
    padding: 0;
}

body{
    background-color: beige;
}

.main_box{
    position: fixed;
}

/*----------- */

.box{
    display: flex;
    padding-top: 90px;
    margin-left: 140px;
}

.box div{
    border: black 1px solid;
}

.side1{
    width: 190px;
    height: 570px;
    overflow-y: scroll;
    align-items: center;
    display: flex;
    flex-direction: column;
}

img{
    margin-top: 20px;
}

.ribbon img{
    margin-top: 10px;
}

.side2{
    width: 190px;
    height: 570px;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main{
    width: 600px;
    height: 570px;
}

.side3{
    width: 190px;
    height: 570px;
    overflow-y: scroll;
    align-items: center;
    display: flex;
    flex-direction: column;
}

div #heading_1, 
div #heading_2, 
div #heading_3{
    font-family: "Gorditas", serif;
    font-size: 20px;
    border: 0px solid;
    text-align: center;
    padding-top: 10px;;
}

/* --------------*/

.menu{
    display: flex;
    flex-direction: row;
    margin-left: 140px;
    margin-right: -50px;
    justify-content: space-between;
}

#topic{
    font-family: "Gorditas", serif; /*we can change this font later lowk, this looked cute so I used this one for now */
    font-size: 30px;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}

#button-2{
    margin-right: 50px;
}

#button-1 button,
#button-2 button{
    width: 100px;
    height: 60px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgb(99, 97, 97);
    font-size: 20px;
}

#button-1 button:hover, 
#button-2 button:hover{
    transform: scale(1.2);
}