html, body{
    margin: 0;
    padding: 0;
}

body{
    background-color: beige;
}

#topic{
    font-family: "Gorditas", serif; /*we can change this font later lowk, this looked cute so I used this one for now */
    font-size: 30px;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 80px;
}

.box div{
    border: black 1px solid;
}

div #side1{
    width: 290px;
    height: 550px;
}

div #side2{
    width: 290px;
    height: 550px;
}

div #main{
    width: 640px;
    height: 550px;
}

.menu{
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
    padding: 0px 100px;
}

#button-2{
    margin-right: 50px;
}

#button-1 button,
#button-2 button{
    width: 100px;
    height: 60px;
    border-radius: 3px;
    box-shadow: 3px 3px 3px rgb(99, 97, 97);
    font-size: 20px;
}

#button-1 button:hover, 
#button-2 button:hover{
    transform: scale(1.2);

}