* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




#main{
   height: 100vh;
}

.navbar {
    display: flex;
    padding: 6px 6px;
    align-items: center;
    justify-content: space-between; 
    height: 15%;
    background-color: rgb(229, 166, 185);
    border:2px solid yellow;
    
}
#home{
    display: flex;
    height: 85%;
    background-color: rgb(223, 204, 228);

}

.icon{
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-list {
    display:flex;
    gap: 30px;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 10px;
    width: 75vw;
   
   
}
.nav-list li a{
    color: rgb(107, 46, 46);
}

#logo{
    border:none;
    border-radius: 50px;
    width: 70px;
    height:80px;

}
.nav-link{
    text-decoration: none;
    color: rgba(83, 11, 11, 0.372);
    font-size: 30px;
    

}


#logo-item {
    margin-right: 400px;
    margin-left: 30px;
}

#text h1{
    color:rgba(83, 11, 11, 0.372);
    font-family:

}
#text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 50vw;
    gap:8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#images{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 50vw;
    
}
#parcel{
    display:flex;
    justify-content: center;
    align-items: center;
}
